.App {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-size: 16px;
	color: white;
	padding: 20px 0;
	line-height: 1.5;

	border: 5px solid;
	border-image-source: linear-gradient(45deg, #f381b8, #f3de81);
	border-image-slice: 1;
}
.container {
	display: flex;
	flex-direction: column;
	max-width: 640px;
	width: 100%;
}

.message-list {
	flex-grow: 1;
	margin-bottom: 10px;
	padding: 0 10px;
	overflow: scroll;
	height: 80vh;
}

.form {
	padding: 0 10px;
}

.input::-webkit-input-placeholder {
	color: #a6afc5;
}
::-moz-placeholder {
	color: #a6afc5;
}

:-moz-placeholder {
	color: #a6afc5;
}

.input {
	background-color: #1d1f24;
	border: none;
	outline: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	width: 100%;
	padding: 12px 20px;
	line-height: 1;
	border-radius: 6px;
}

.message {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
	background-color: #222429;
	border-radius: 6px;
	overflow: hidden;
}
.message-text {
	padding: 12px;
	display: block;
	flex: 1;
}
.message-text h4 {
	color: #f381b8;
	margin-bottom: 4px;
}
.message-text p {
	color: #a6afc5;
	padding: 4px 0;
}

.message-buttons {
	display: flex;
	flex-direction: column;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
}

.message-button {
	flex: 1;
	border: none;
	outline: none;
	padding: 10px;
	cursor: pointer;
	background-color: transparent;
	border-left: 1px solid #3f4550;
}

.message-button--edit:hover svg {
	stroke: #5b88e2;
}

.message-button--delete:hover svg {
	stroke: #ff4c7f;
}

.message-button svg {
	transition: stroke 0.3s;
}

.message-button--edit {
	border-bottom: 1px solid #3f4550;
}

.message-button--edit svg {
	stroke: #909fbd;
}

.message-button--delete svg {
	stroke: #f18ba8;
}

.message-button svg {
	display: block;
}

.message:hover .message-buttons {
	visibility: visible;
	opacity: 1;
}

.edit-input {
	background-color: #3f4550;
	outline: none;
	border: none;
	display: block;
	width: 100%;

	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	color: #c2c9db;
	padding: 4px;
	transform: translateX(-4px);
}
